services:
  static-file-server:
    image: nginx:1.29.3
    volumes:
      - ${HOME}/hosting/static/site.conf.template:/etc/nginx/conf.d/site.conf.template
      - ${EXTERNAL_ROOT}:${INTERNAL_ROOT}
    ports:
      - "${PORT}:${PORT}"
    environment:
      - HOST=${HOST}
      - PORT=${PORT}
      - INTERNAL_ROOT=${INTERNAL_ROOT}
    command: /bin/bash -c "envsubst '$${HOST} $${PORT} $${INTERNAL_ROOT}' < /etc/nginx/conf.d/site.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    restart: always
